[Desktop Entry]
Version=1.0
Type=Application
Name=A Photo Tool (Libre)
Comment=Photo editing tool for Linux
Categories=Graphics;Qt;
Icon=aphototoollibre
Exec=aphototoollibre %f
TryExec=aphototoollibre
MimeType=image/jpeg;image/png;
Terminal=false

