Source: aphototoollibre
Section: graphics
Priority: optional
Maintainer: Jari Ahola <aphototool@ahola.me>
Build-Depends: debhelper (>= 9), qtbase6-dev (>= 6.4.2), qtbase6-dev-tools (>= 6.4.2), qt6-qmake (>= 6.4.2)
Standards-Version: 4.6.0
Homepage: https://www.github.com/aphototool/A-Photo-Tool-Libre

Package: aphototoollibre
Architecture: any
Section: graphics
Priority: optional
Depends: libqt6gui6 (>= 6.4.2), libqt6widgets6 (>= 6.4.2), libqt6core6a (>= 6.4.2), ${misc:Depends}, ${shlibs:Depends}
Description: A Photo Tool (Libre)
 Photo editing tool for Linux
 .
 Easy to use photo editing software for JPEG images.
 .
 Change exposure, contrast and color. Turn color
 photos in to black and white images with control
 how color is handled. Rotate, crop, straighten and
 resize photos.
 .
 Copyright (C) 2022-2025 Jari Ahola
 .
 Lisensed under GNU GPLv3. Full source code available
 at github.com/aphototool/A-Photo-Tool-Libre
