[Desktop Entry]
Version=1.0
Type=Application
Name=A Photo Tool (Libre)
Comment=Photo editing tool for Linux
Categories=Graphics;Qt;
Icon=aphototoollibre
Exec=/usr/bin/aphototoollibre %f
TryExec=/usr/bin/aphototoollibre
MimeType=image/jpeg;image/png;
Terminal=false

